@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwind-loves-sass";
@font-face {
    font-family: "Ruhl";
    src: url("/fonts/FrankRuhlLibre-Regular.ttf");
  }
@font-face {
font-family: "Ruhl Medium";
src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
font-family: "Vibes";
src: url("/fonts/GreatVibes-Regular.ttf");
}
$header1: calc(2rem + 1vw);
$header2: calc(3.5rem + 1vw);
$header3: calc(3rem + 1vw);
$header4: calc(2.4rem + 1vw);
$text: calc(1.5rem + 1vw);
$big: calc(6rem + 1vw);
$special-color: #906272;
$background-color: #414141;
$gray-text: #525252;

@layer base{
    html{
        font-size: 62.5% #{!important};
        scroll-behavior: smooth #{!important};
        

    }
    h1{
        font-size:$header1 #{!important};
    }
    h2{
        font-size:$header2 #{!important};
    }
    h3{
        font-size:$header3 #{!important};
    }
    h4,h5{
        font-size:$header4 #{!important};
    }
    body{
        font-family:"Ruhl",sans-serif #{!important};
    }
    h1{
        font-family:"Vibes",sans-serif #{!important};
    }
    li,
    button,
    label,
    input,
    a,
    p{
        font-size:$text #{!important} ;
    }


}